.projects__toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.projects__toggle-btn {
  padding: 0.2rem 0rem;
  background: transparent;
  color: var(--clr-fg);
  cursor: pointer;
  border-radius: 3rem;
  border: 1px solid var(--clr-fg);
  font-size: 1rem;
  font-weight: 100;
  position: relative;
  z-index: 1;
  min-width: 150px;
}

.projects__toggle-btn:hover {
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
}

.projects__toggle-btn.active {
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
}

.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 2em;
}
