.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 0.2em;
  font-size: 2em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__desc,
.about__contact {
  margin-top: 2em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

.about__header {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  align-items: center;
  gap: 2rem; /* space between picture and text */
  margin-bottom: 1.5rem;
}

.about__intro {
  display: flex;
  flex-direction: column;
  align-items: start;
}

@media (max-width: 600px) {
  .app .about {
    margin-top: 2em;
  }

  .about__header {
    flex-direction: column;
  }

  .about__intro {
    align-items: center;
  }

  .about__role {
    font-size: 1.5em;
  }
}

.about__picture {
  width: 180px;
  height: 180px;
  border-radius: 50%;   /* round profile */
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}